/* Fonts */
@font-face {
    font-family: 'Space Grotesk';
    src: url('fonts/SpaceGrotesk/SpaceGrotesk-Bold.ttf') format('truetype'),
        url('fonts/SpaceGrotesk/SpaceGrotesk-Light.ttf') format('truetype'),
        url('fonts/SpaceGrotesk/SpaceGrotesk-Medium.ttf') format('truetype'),
        url('fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf') format('truetype'),
        url('fonts/SpaceGrotesk/SpaceGrotesk-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ranchers';
    src: url('fonts/Ranchers/Ranchers-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
    font-family: 'Space Grotesk', sans-serif;
}

/* General */
.d-none {
    display: none !important;
}

/* Webgl canvas style */
.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    cursor: grab;
}

.webgl:active {
    cursor: grabbing;
}

/* Loading & Intro Container */
.intro-container,
.loading-container {
    position: absolute;
    text-align: center;
    color: #fff;
    z-index: 999;
    font-size: 1.2rem;
    left: 50%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 477px;
}

.loading-container.ended {
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.loading-bar {
    margin-top: 1rem;
    height: 6px;
    background: #fff;
    border-radius: 4px;

    transform: scaleX(0);
    transform-origin: top left;

    transition: transform 0.5s;
    will-change: transform;
}

/* Start Button */
.start-button {
    padding: 12px 16px;
    margin-top: 4rem;
    font-size: 3rem;
    border: 6px solid white;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
    background-color: orange;
    transition: transform 250ms ease-in-out;
}

.start-button:hover {
    transform: rotate(-5deg);
}

.start-button.clicked {
    transform: rotate(-5deg);
    animation: fadeOut 250ms ease-in-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(2);
    }
}

/* Guides */
table.guide {
    width: 400px;
    list-style: none;
    text-align: start;
    margin: auto;
    margin-top: 2.4rem;
}

/* Align last column to the end */
table.guide td:last-child {
    text-align: end;
}

table.guide caption {
    padding-bottom: 8px;
}